{
  "server_url": "wss://9kernel.vps-kinghost.net/ws",
  "default_save_dirs": [
    "/roms/gb",
    "/roms/gbc",
    "/roms/gba",
    "/roms/saves",
    "/roms2/gb",
    "/roms2/gbc",
    "/roms2/gba",
    "/roms2/saves"
  ],
  "backup_dir": "/roms/tools/pokecable_room/backups",
  "log_dir": "/roms/tools/pokecable_room/logs",
  "auto_trade_evolution": true,
  "item_trade_evolutions_enabled": false,
  "allow_cross_generation": false
}
